.containerForUser {
    display: flex;
  flex-flow: wrap;
} 

.individualCard
 {
    width: 22%;
    display: flex;
    flex-flow: column;
    margin: 2.5% 2.5%;
    border: 1px solid #ccc;
    background-color: #EEEEEE;
  
  }

  .individualCard > img {
    width: 25%;
    border-radius: 50%;
    margin: 0 auto;
  }
  .individualCard > span {
    /* align-self: baseline; */
    padding: 0 20%;
    margin: 2.5% -10% 0 0;
    display: inline-flex;
    flex-flow: row nowrap;
  
  }